GEMINI_API_KEY=put_your_gemini_key_here
OPENROUTER_API_KEY=put_your_openrouter_key_here
DB_HOST=fill_in_your_db_host_here
DB_USER=fill_in_your_db_user_here
DB_PASSWORD=fill_in_your_db_password_here
DB_NAME=fill_in_your_db_name_here

DATABASE_URL=put_your_database_url_here